@font-face {
    font-family: 'DroidSansRegular';
    src: url('../fonts/DroidSans/DroidSans-webfont.eot');
    src: url('../fonts/DroidSans/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSans/DroidSans-webfont.woff') format('woff'),
         url('../fonts/DroidSans/DroidSans-webfont.ttf') format('truetype'),
         url('../fonts/DroidSans/DroidSans-webfont.svg#DroidSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Sosa';
    src: url('../fonts/sosa/sosa.eot');
    src: url('../fonts/sosa/sosa.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sosa/sosa.woff') format('woff'),
         url('../fonts/sosa/sosa.ttf') format('truetype'),
         url('../fonts/sosa/sosa.svg#Sosa') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DroidSansBold';
    src: url('../fonts/DroidSans/DroidSans-Bold-webfont.eot');
    src: url('../fonts/DroidSans/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSans/DroidSans-Bold-webfont.woff') format('woff'),
         url('../fonts/DroidSans/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/DroidSans/DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'algerianregular';
    src: url('../fonts/Algerian/alger-webfont.eot');
    src: url('../fonts/Algerian/alger-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Algerian/alger-webfont.woff') format('woff'),
         url('../fonts/Algerian/alger-webfont.ttf') format('truetype'),
         url('../fonts/Algerian/alger-webfont.svg#algerianregular') format('svg');
    font-weight: normal;
    font-style: normal;

}